<nav class="navbar navbar-expand-lg navbar-light bg-light breadcrumb">
   
        <ul class="navbar-nav mr-auto ">

            <li class="nav-item pull-center">
                <%= link_to  "Clientes", clientes_path , class: "navbar-brand"%>
            </li>
            <br>
            <li class="nav-item">
                <%= link_to  "Qualificações", qualificacoes_path, class: "navbar-brand" %>
            </li>
            <br>
            <li class="nav-item">
                <%= link_to  "Restaurantes", restaurantes_path, class: "navbar-brand" %>
            </li>

        </ul>

</nav>